<div class="Whole-container">
    <h1 class="List-header">List from Main</h1>
  
    <div *ngIf="!httpusers">
      <p class="Loader">Loading...</p>
    </div>
    
    <div *ngIf="httpusers && httpusers.length > 0">
      <table class="table-container">
        <thead class="table-header">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Website</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr *ngFor="let user of httpusers">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.website }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<router-outlet />