<div class="container bg-dark text-light p-4 rounded">
    <h1 class="text-center mb-4">List of Users</h1>
    <div *ngIf="httpusers.length > 0">
        <div class="table-responsive">
            <table class="table table-dark table-striped table-bordered text-center">
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Website</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of httpusers | slice:0:5">
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.website }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container text-light p-4 rounded mt-5 todolist">
    <h1 class="text-center mb-4">To Do List</h1>
    <div *ngIf="httptodos.length > 0" class="container text-light p-4 rounded">
        <ul class="list-group list-group-flush">
            <li *ngFor="let todo of httptodos | slice:0:5" class="list-group-item bg-dark text-light">
                {{ todo.title }}
            </li>
        </ul>        
    </div>
    <div *ngIf="httptodos.length === 0" class="container bg-dark text-light p-4 rounded text-center">
        <p class="text-warning">No todos available.</p>
    </div>    
</div>
<router-outlet />